*{
    padding: 0;
    margin: 0;
}

body{
    background: url("images/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playArea{
    background: linear-gradient(rgb(147,249,147),yellow);
    width: 90vmin;
    height: 92vmin;
    border:2px solid black;
}